body {
	background-color: white;
	margin: 1em;
	font-family: 'Varela Round', sans-serif;
}

.jsButtons {
	border: 2px solid darkgrey;
	border-radius: 5px;
	background-color: lightgrey;
}

.navbar {
	display: block !important;
	width: 80em;
	max-width: 94%;
	height: 9em;
	z-index: 1;
	max-height: 35%;
}

::-webkit-input-placeholder {
	color: grey;
}



.navbar-inverse {
	max-height: 35%
}

/*Regular view*/
nav {
	display: block;
	margin: 2em;
	background-color: #e5e5e5 !important;
	padding: .5em;
}

#logoBox {
	display: block;
	margin-top: 1em;
	min-height: 20em;
	background-image: url(../images/teamgoodName.png);
	background-repeat: no-repeat !important;
	background-size: 400px;
	background-position: center;
}

#logoImg {
	display: block;
	margin: auto;
	width: 40%;
	height: 60%;
}

.affix {
	top: 0;
	width: 80em;
	max-width: 93%;
	margin-top: .5em;
  }

  .affix + .container-fluid {
    padding-top: 190px;
  }

.col-xs-12 {
	list-style: none;
	display: inline;
	margin-left: 2em;
}

label {
	margin-right: .8em;
}

#clearButton {
	border: 2px solid lightgrey;
	border-radius: 4px;
	margin: .5em 2em .5em 5em;
	background-color: #c4ffc8;
	height: 3em;
	width: 12em;
}

input[type="checkbox"] {
	border: 1px solid white;
	background-color: white;
	height: 15px;
	width: 15px;
	padding-left: 2em;
	margin-left: 2em;
}

input[type="text"] {
	width: 35em;
	max-width: 40%;
	min-width: 20%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid lightgrey;
	margin: .5em;
	padding: .5em;
}

#newMessageName {
	width: 25em;
	margin-left: 1em;
}

#addMessageButton {
	border-color: grey;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: white;
	margin-right: 1em;
}

/* MESSAGE SECTION */

#messageBoardTitle {
	margin-right: 1em;
	margin-left: 1em;
	font-size: 20px;
	text-align: left;
	display: block;
}

#messageBoard {
	border: 2px solid lightgray;
	height: 80em;
	/*background-color: white;*/
	width: 85%;
	margin: 1em 5em 3em 5em;

	font-color: grey;
	padding: 2em;
	text-align: left !important;
	line-height: 2.3em;
}

.deleteButton{
	float: right;
}



/* DARK THemes */
.dark {
	background-color: #363534 !important;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;	
}

.dark ::-webkit-input-placeholder {
	color: grey;
	text-shadow: none;
}

.dark #addMessageButton {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.dark input {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.dark #clearButton {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
	background-color: darkgreen;	
}

.dark nav {
	background-color: grey !important;
}

.dark #logoBox {
	background-image: url(../images/teamgoodName_copy.png);
}


/* LARGE TEXT VIEW**/
.large-font p {
	font-size: 1.5em;
	word-wrap: break-word;

}


