body {
	background-color: white;
	margin: 1em;
}

.navbar {
	display: block !important;
	max-width: 95%;
	height: 11em;
	z-index: 1;
	max-height: 35%;
}

#nav-items {
	display: block;
	border: 1px solid black;
	margin: auto auto 1em 1em;
}

/*Regular view*/
nav {
	display: block;
	margin: 1em;
	background-color: #e5e5e5 !important;
	padding: 1em;
}

#logoBox {
	display: block;
	margin-top: 1em;
}

#logoImg {
	display: block;
	margin: auto;
	width: 40%;
	height: 60%;
}

.affix {
	top: 0;
	max-width: 95%;
    display: block;
	margin: 1em;
	background-color: #e5e5e5;
	padding: 1em;
  }

  .affix + .container-fluid {
    padding-top: 70px;
    max-width: 95%;
    margin-right: 1;
  }

.col-xs-12 {
	list-style: none;
	display: inline;
	margin-left: 2em;
}

label {
	margin-right: .8em;
}

button {
	border: 2px solid lightgrey;
	border-radius: 4px;
	margin: .5em 2em .5em 5em;
	background-color: #c4ffc8;
	height: 3em;
	width: 12em;
}

input[type="checkbox"] {
	border: 1px solid white;
	background-color: white;
	height: 15px;
	width: 15px;
	padding-left: 2em;
	margin-left: 1em;
}

input[type="text"] {
	width: 50em;
	max-width: 95%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid lightgrey;
	margin: 1em;
	padding: .5em;
}

/* MESSAGE SECTION */

#messageBoardTitle {
	margin-right: 1em;
	margin-left: 1em;
	font-size: 20px;
	text-align: left;
}

#messageBoard {
	border: 2px solid lightgray;
	height: 80em;
	width: 80%;
	margin: 1em 7em 3em 5em;
	background-color: white;
	font-color: grey;
	padding: 2em;
}


/* DARK THemes */






/* LARGE TEXT VIEW**/



