
nav {
	display: block;
	margin: 1em;
	background-color: lightgrey !important;
	padding: 1em;
}

nav a {
	color: black !important;
}

#logo-img {

}

 .affix {
      top: 0;
      width: 90%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

.col-xs-12 {
	list-style: none;
	display: inline;
	margin-left: 2em;
}

label {
	margin-right: .8em;
}

button {
	border: 2px solid black;
	border-radius: 4px;
	margin: .5em;
	background-color: lightgreen;
	height: 3em;
	width: 12em;
}

input[type="checkbox"] {
	border: 1px solid grey;
	background-color: white;
	height: 15px;
	width: 15px;
	padding-left: 2em;
	margin-left: 1em;
}

input[type="text"] {
	width: 70%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid grey;
	margin: 1em;
	padding: .5em;
}

/* Body */

#messageBoardTitle {
	margin-top: 2em;
	margin-left: 1em;
	font-size: 20px;
}

#messageBoard {
	border: 2px solid black;
	height: 30em;
	width: 90%;
	margin: 0 3em 3em 3em;
}






